@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

.account {
    margin:100px auto;
    width: 60%;
    height: 600px;
    background: linear-gradient(
        180deg,
        rgba(249, 67, 156,0.5),
        rgba(250, 66, 153,0.5),
        rgba(192, 65, 147, 0.5),
        rgba(155, 64, 145, 0.5),
        rgba(108, 63, 140, 0.5),
        rgba(55, 65, 136, 0.5),
        rgba(19, 65, 133, 0.5)
    );
    text-align: center;
    border-radius: 10px;
}


.log-in {
    font-family: 'Lato', sans-serif;
    margin: auto;
    padding: 20px;
    color: white;
    display: grid;
}

.close {
    justify-self: end;
    font-size: 1.8em;
    color: white;
    margin: 0;
}

.text-log {
    margin: 10px 25%;
    text-align: left;
}