@import url('https://fonts.googleapis.com/css?family=Dosis');

.upload {
    margin: auto;
    margin-top: 100px;
    width: 70%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(242, 166, 172,0.7),
        rgba(231, 142, 178, 0.7),
        rgba(250, 66, 153,0.7)
    );
    text-align: center;
    color: #663300;
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
}

.upload-img {
    margin: 2%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    height: 400px;
    text-align: center;
}

.arrow {
    cursor: pointer;
    display: inline-grid;
    margin: 20px 32px;
    width: 80px;
    height: 40px;
    font-family: 'Dosis', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    background: radial-gradient(
        rgba(223, 211, 211,0.7),
        rgba(238, 220, 220,0.7),
        rgba(226, 195, 238,0.7),
        rgba(205, 164, 243,0.7),
        rgba(222, 139, 255,0.7)
    );
    border-radius: 50%;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(77, 77, 77, 0.6);
}

.arrow:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.arrow-link {
    align-self: center;
}

.arrow-up {
    color: rgba(255, 255, 230, 0.2);
    font-size: 2em;
}

.arrow-up:hover {
    color: rgba(255, 255, 230, 0.8);
}

.submit {
    color: #663300;
    margin: 20px 32px;
    padding: 2px 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
    height: 40px;
    font-weight: bolder;
    border-radius: 10px;
    background: linear-gradient(
        0deg,
        rgba(209, 245, 242, 0.5),
        rgba(209, 245, 242, 0.3),
        rgba(204, 255, 255, 0),
        rgba(209, 245, 242, 0.5)
    );
    border : 0.5px dashed #663300;
}

.submit:hover {
    background-color: rgb(236, 179, 255);
}

.submit:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.close {
    font-size: 2rem;
    color: #cc6906;
    margin: 10px;
}
.close:hover {
    border : 1px dashed #fdfb8b;
    background-color: rgba(255, 255, 204,0.7);
    border-radius: 10px;
}

.img-preview {
  width: 100%;
  height: 100%;
  max-width: 650px;
  max-height: 400px;
  object-fit: scale-down;
  margin:auto;
}

.img-preview img {
    width: 100%;
    height:100%
}