.profile {
  margin: auto;
  margin-top:100px;
  width: 70%;
  height: calc(100vh - 110px);
  background: linear-gradient(
      180deg,
      rgba(218, 106, 228, 0.6),
      rgba(243, 132, 230, 0.6),
      rgba(255, 161, 222, 0.6),
      rgba(250, 179, 212, 0.6),
      rgba(252, 167, 208, 0.6)

  );
  border-radius: 10px;
}

.profile-up {
  height: 160px;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
}


.back {
text-align: right;
}

.profile-info{
  padding-top: 20px;
}

.profile-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
.name{
    color: #663300;
    text-align: start;
}

h2 {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    display: inline-block;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.nophoto {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  color: #663300;
}