body {
  background: linear-gradient(
      180deg,
      rgba(242, 166, 172,0.7),
      rgba(231, 142, 178,0.7),
      rgba(223, 122, 185, 0.7),
      rgba(215, 111, 188, 0.7),
      rgba(189, 104, 189, 0.7),
      rgba(159, 97, 189, 0.7),
      rgba(135, 99, 182, 0.7),
      rgba(120, 99, 177, 0.7),
      rgba(97, 102, 169, 0.7)
  );
  background-repeat: no-repeat;
  text-align: center;
}

button {
  outline: none;
  border:none;
}

textarea {
  outline-color: #b64ffa;
}