@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.home-eva {
    margin: 0;
    padding: auto;

}

.emoji {
    font-weight: bold;
    font-size: 1.5rem;
    color: #663300;
}

.emoji > p {
    margin:0;
    padding: 0 10px;
    font-family: 'Amatic SC', cursive;
    border : 1px dashed #fdfb8b;
    border-radius: 10px;
}

.emoji > p:hover {
    border : 1px dashed #fdfb8b;
    background-color: rgba(255, 255, 204,0.7);
    border-radius: 10px;
}

.home-comment {
  margin-top:10px;
  padding:0;
}

.home-comment > textarea {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 3px 3px 2px 0 rgba(204, 204, 204,0.9);
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1rem;
  border-color: #663300;
  border-radius: 5px;
  width: 100%;
}

.comments {
  border : 1px dashed #fdfb8b;
  border-radius: 10px;
  height: 260px;
  overflow-y: scroll;
}

.comment {
  font-size: 1rem;
  color: #663300;
  width: 100%;
}

.comment:hover {
  border : 1px dashed #fdfb8b;
  background-color: rgba(255, 255, 204,0.7);
  border-radius: 10px;
}